.container {
    display: grid;
    grid-template-columns: 300px 1fr;
    gap: 32px;
    margin-top: 24px;
}

.imageWrapper img {
    box-shadow: var(--shadow-md);
}

.section {
    background-color: var(--white);
    padding: 16px;
    border-radius: var(--radius);
    margin-top: 16px;
}

.infoLinks {
    display: flex;
    gap: 24px;
    margin-top: 16px;
}

.infoLink {
    font-weight: 500;
    color: var(--muted);
    position: relative;
    transition: color 0.2s ease;
}

/* hover */
.infoLink:hover {
    color: var(--primary);
}

/* active */
.active {
    color: var(--primary);
}

.active::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -4px;
    width: 100%;
    height: 2px;
    background-color: var(--primary);
    border-radius: 2px;
}



.backLink {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 16px;

    font-weight: 500;
    color: var(--muted);
    text-decoration: none;

    transition: color 0.2s ease, transform 0.2s ease;
}

/* hover */
.backLink:hover {
    color: var(--primary);
    transform: translateX(-2px);
}

/* стрелка */
.backLink::before {
    font-size: 18px;
    line-height: 1;
}
